* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: grid;
  place-items: center;
}
.clock {
  width: 40rem;
  height: 40rem;
  /* border: 3px solid #566270; */
  /* border-radius: 50%; */
  position: relative;
  background-image: url("../clock.png");
  background-size: cover;
}

.hour {
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.8);
  transform: rotate(90deg);
  height: 10rem !important;
  top: calc(10rem - 2px) !important;
}

.min {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(190deg);
}

.sec {
  z-index: 25;

  background-color: rgba(221, 14, 14, 0.712);
  transform: rotate(280deg);
}

.aghrabe {
  width: 4px;
  height: 15rem;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(5rem - 2px);
  transform-origin: 50% 100%;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(77, 77, 77, 1);
  transform: translate(-48%, -55%);
  width: 2rem;
  height: 2rem;
  z-index: 100;
  border-radius: 50%;
}
